/* styles.css */

.background-section {
    background-color: rgb(255, 169, 71); 
    padding: 50px 0; /* Adjust padding as needed */
  }
  
  .background-section h2 {
    color: #333; /* Adjust text color */
  }
  
  .background-section p {
    color: #841818; /* Adjust text color */
  }
  